@model IEnumerable<APPR_AZURE_CONNECT.Models.MonetDonateEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Monetary Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonatorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonatorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonatorsName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonatorsName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonatorsName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
